.vscode
OnDimensionalArrays/up
.DS_Store

ProgramasEstructuradeDatos/OnDimensionalArrays
ProgramasEstructuradeDatos/ArrayBidim
ProgramasEstructuradeDatos/ArrayUnidim
ProgramasEstructuradeDatos/Estructuras
ProgramasEstructuradeDatos/Listas
ProgramasEstructuradeDatos/Listas_Dobles
ProgramasEstructuradeDatos/Mayornumero
ProgramasEstructuradeDatos/Recursividad
ProgramasEstructuradeDatos/Registros
ProgramasEstructuradeDatos/Repetitivas